.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.fb_btn{
  width: 300px;
  padding: 8px;
  background-color: rgb(50, 89, 152);
  border: 1px solid rgb(50, 89, 152);
  border-radius: 5px;
  transition: 0.6s;
}
.fb_btn:hover{
  cursor:pointer;
  background-color:rgb(57, 105, 182);
  border: 1px solid rgb(57, 105, 182);
}
.fb_btn span{
  color: white;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  left: 20px;
  top: -8px;
}
.fb_icon{
  background-color:rgb(59, 89, 152);
  color: aliceblue;
  border: none;
  font-size: 30px;
  width: 30px;
  margin-left: -40px;
  margin-top: 5px;
}
/* company btn */
.btn{
  width: 50px;
  padding: 10px;
  color: white;
}